{% extends 'base.html' %}
{% block content %}
<div class="flex_container">
    <div class="trans_back">
        <div class="about">
            <p>Practice Project</p>
            <div class="seperator-w"></div>
            <p>Environment</p>
            <ul>
                <li>CentOS 7.6</li>
                <li>flask 1.1.1</li>
                <li>Python 3.6.8</li>
                <li>ansible 2.7.14</li>
                <li>MySQL 8.0</li>
            </ul>
            <div class="seperator-w"></div>
            <p>By HPmaxll</p>
        </div>
    </div>
</div>
{% endblock %}