<!DOCTYPE html>
<html>
    <head>
        <title>PlayWebook</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }} >
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='dynamic.css') }} >
        <script src={{ url_for('static',filename='script.js') }} ></script>
    </head>
    <body onload="get_inv()">
        <header>
            <p class="logo">PlayWebook</p>
            <nav>
                <ul class="nav_link">
                    <div>
                        <li><a href='/'><button>OVERVIEW</button></a>
                            <ul>
                                <li><a href={{ url_for('overview.stats') }}><button>Stats</button></a></li>
                                <li><a href={{ url_for('overview.history') }}><button>History</button></a></li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li><a href={{ url_for('tasks.task_run') }} ><button>TASKS</button></a>
                            <ul>
                                <li><a href={{ url_for('tasks.task_run') }}><button>Run</button></a></li>
                                <li><a href={{ url_for('tasks.schedule') }}><button>Schedule</button></a></li>
                                <li><a href={{ url_for('tasks.tasklist') }}><button>Tasklist</button></a></li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li><a href={{ url_for('inventory.hosts') }} ><button>INVENTORY</button></a>
                            <ul>
                                <li><a href={{ url_for('inventory.hosts') }}><button>Hosts</button></a></li>
                                <li><a href={{ url_for('inventory.inventorys') }}><button>Inventory</button></a></li>
                                <li><a href={{ url_for('inventory.groups') }}><button>Groups</button></a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </nav>
            <a href={{ url_for('auth.login')}}><button>ABOUT</button></a>
        </header>
        <div class="content">
        {% block content %}
        
        {% endblock %}
        </div>
        
    </body>
</html>