<!DOCTYPE html>
<html>
    <head>
        <title>PlayWebook</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }} >
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='dynamic.css') }} >
        <script src="{{ url_for('static',filename='demo.js') }}" ></script>
        <script src="{{ url_for('static',filename='com.js') }}" ></script>
    </head>
    <body>
        <header>
            <p class="logo">PlayWebook</p>
            <nav>
                <ul class="nav_link">
                    <div>
                        <li><a href='/'><button>OVERVIEW</button></a>
                            <ul>
                                <li><a href={{ url_for('overview.stats') }}>Stats</a></li>
                                <li><a href={{ url_for('overview.history') }}>History</a></li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li><a href={{ url_for('tasks.task_run') }} ><button>TASKS</button></a>
                            <ul>
                                <li><a href={{ url_for('tasks.task_run') }}>Run</a></li>
                                <li><a href={{ url_for('tasks.schedule') }}>Schedule</a></li>
                                <li><a href={{ url_for('tasks.define') }}>Define</a></li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li><a href={{ url_for('inventory.hosts') }} ><button>INVENTORY</button></a>
                            <ul>
                                <li><a href={{ url_for('inventory.hosts') }}>Hosts</a></li>
                                <li><a href={{ url_for('inventory.inventorys') }}>Inventory</a></li>
                                <li><a href={{ url_for('inventory.groups') }}>Groups</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </nav>
            <a href={{ url_for('auth.login')}}><button>Log In</button></a>
        </header>
        <div class="content">
            <div class="left_block">
                {% block left_block %}
                {% endblock %}
            </div>

            <div class="center_block">
                {% block center_block %}
                {% endblock %}
            </div>

            <div class="right_block">
                {% block right_block %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>