<!DOCTYPE html>
<html>
<body>

<h1>XMLHttpRequest</h1>
<input type="text" name="module" id="module">
<input type="button" value="submit" onclick="loadModule(module.value)">

<p id="demo">AJAX</p>
<table>
    <tr>
        <th></th>
    </tr>
</table>


<script>
function loadModule(value) {
    getText("/data/module/"+value);
}
function getText(url) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      insertText(this.responseText);
    }
    else {
      insertText('loading...');
    }
  };
  xhttp.open("get", url, true);
  xhttp.send();
}
function insertText(text) {
  document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html>