#query_info {
    display: flex;
}
#module_list {
    width: 300px;
    height: 500px;
    overflow: auto;
    text-align: left;
    display: block;
    padding: 5px;
}

#module_para {
    width: 300px;
    height: 500px;
    overflow: auto;
    text-align: left;
    display: none;
    padding: 5px;
}

#desc {
    width: 250px;
    height: 500px;
    overflow: auto;
    text-align: left;
    margin: 5px;
}

#desc_module {
    margin: 5px;
}

#desc_para {
    margin: 5px;
}
#module_detail {
    text-align: left;
    text-indent: 10px;
}

.button_hint {
    border: none;
    display: inline;
    text-align: left;
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    box-shadow: 3px 3px 3px black;
}

.button_hint:focus {
    outline: none;
    background-color: purple;
}

.button_hint:hover {
    background-color: navy;
}