#selection {
    position: absolute;
    top: 10px;
    left: 34%;
    margin: 5px;
    background-color: rgba(238, 222, 222, 0.9);
    width: 480px;
    height: 690px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px gray;
    z-index: 1;
}
#selection:hover {
    z-index: 3;
}

.close_button {
    float: right;
    width: 40px;
}

.close_button:hover {
    transform:rotate(10deg);
}

#select_before {
    display: flex;
    justify-content: center;
    margin: 50% 5px;
    padding: 10px;
    /* background-color: springgreen; */
}

#select_before div:nth-child(1) {
    padding: 10px 10px 2px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    /* margin-right: 3px; */
    border-radius: 20px 0 0 20px;
    box-shadow: 3px 3px 3px gray;
}

#select_before div:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#select_before img {
    width: 60px;
}

#select_before #select_input {
    padding: 18px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 3px gray;
    border: 1px solid gray;
}

#select_before #select_input input {
    font-size: 20px;
    width: 250px;
    padding: 5px;
    background-color: rgba(117, 134, 117, 0.5);
    border: 1px solid gray;
    border-radius: 5px;
}

#select_submit {
    font-size: 18px;
    padding: 15px 10px;
    /* margin-left: 3px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 3px 3px gray;
}

#select_submit:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#select_finish {
    display: none;
}

/* --------after----selection-------- */

#select_after {
    display: flex;
    justify-content: center;
    margin: 10% 5px 0 5px;
    padding: 10px;
    /* background-color: tan; */
}

.selected_module {
    border: none;
    background-color: rgb(255, 245, 238);
    font-size: 20px;
    padding: 5px;
    max-width: 300px;
    min-width: 180px;
    text-overflow: ellipsis;
    box-shadow: 3px 3px 3px gray;
}

.selected_module:hover {
    text-shadow: 1px 1px 1px gray;

}

#select_after div:nth-child(1) {
    padding: 10px 10px 2px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    /* margin-right: 3px; */
    border-radius: 20px 0 0 20px;
    box-shadow: 3px 3px 3px gray;
}

#select_after div:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#select_after img {
    width: 30px;
}

#select_after #select_input {
    padding: 18px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 3px gray;
    border: 1px solid gray;
}

#select_after #select_input input {
    font-size: 20px;
    width: 250px;
    padding: 5px;
    background-color: rgba(117, 134, 117, 0.5);
    border: 1px solid gray;
    border-radius: 5px;
}

#select_finish {
    font-size: 12px;
    padding: 15px 10px;
    /* margin-left: 3px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 3px 3px 3px gray;
}

#select_finish:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#selected_opt {
    display: none;
    margin: 5px 15%;
    padding: 10px 0;
    max-height: 80%;
    overflow: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px gray;
}

/* #selected_opt p {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 20px;
    background-color: cornflowerblue;
} */
#selected_opt input[type="button"] {
    border: none;
    font-size: 15px;
    max-width: 80%;
    text-overflow: ellipsis;
    padding: 2px 2px;
    margin: 3px 10%;
    color: rgb(10, 10, 10);
    background-color: rgba(0, 0, 0, 0);
}

#selected_opt input[type="button"]:hover {
    color: black;
    text-shadow: 1px 1px 1px gray;
}
#selected_opt input[type="text"] {
    margin: 3px 10%;
    width: 80%;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* #query_info {
    position: absolute;
    left: 40%;
    padding: 10px;
    display: flex;
} */

#module_detail {
    position: absolute;
    top: 10px;
    left: 4%;
    margin: 5px 0;
    height: 690px;
    width: 410px;
    overflow: auto;
    text-align: left;
    text-indent: 10px;
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.7);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    display: none;
}
#module_detail:hover {
    background-color: rgba(240, 240, 240, 0.8);
}

#module_list, #module_para {
    
    text-align: left;
    overflow-x: auto;
    margin: 5px;
    padding: 5px;
   
}

#module_para {
    display: none;
}

/* #desc {
    position: absolute;
    top: 2%;
    right: 4%;
    max-width: 400px;
    height: 95%;
    text-align: left;
    overflow: auto;
    margin: 5px;
    z-index: 1;
}

#desc:hover {
    z-index: 3;
} */

#desc_module, #desc_para {
    position: absolute;
    padding: 6px;
    width: 400px;
    right: 4%;
    text-align: left;
    overflow-x: auto;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: none;
}

#desc_module:hover, #desc_para:hover {
    z-index: 3;
}
#desc_module {
    top: 10px;
    margin: 5px;
    height: 190px;
}

#desc_para {
    top: 215px;
    margin:0 5px;
    height: 490px;
}

.button_hint {
    border: none;
    display: inline;
    text-align: left;
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    box-shadow: 3px 3px 3px black;
}

.button_hint:focus {
    outline: none;
    background-color: purple;
}

.button_hint:hover {
    background-color: navy;
}