* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body {
    background-image: url('textflow.jpg');
    background-attachment: cover;
}

/* --------header----area-------- */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 50px;
    background-color: rgba(51, 56, 51, 0.9);
    box-shadow: 3px 3px 3px black;
}

header a,header button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    font-weight: 700px;
    font-size: 20px;
    color: #edf0f1;
    cursor: pointer;
}

nav {
    width: 450px;
}
.nav_link {
    margin: 0;
    list-style: none;
    display: flex;
    height: 50px;
    width: 150px;
}

.nav_link button {
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.nav_link > div > li > a > button {
    background-color: rgba(0,0,0,0);
}

.nav_link > div > li:hover > a > button {
    background-color: rgba(0, 136, 169, 1);
}

.nav_link > div > li {
    width: 150px;
    text-align: center;
}

.nav_link li a {
    transition: all 0.3s ease 0%;
}

.nav_link li ul {
    margin-top: 5px;
}
.nav_link li ul li {
    margin-top: 5px;
    box-shadow: 3px 3px 3px gray;
    display: none;
}

.nav_link li:hover ul li {
    display: block;
}

.nav_link li ul li button {
    background-color: rgba(139, 126, 102, 1);
}
.nav_link li ul li button:hover {
    background-color: rgba(0, 139, 139, 1);
}

header > a > button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0%;
}

header > a > button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* --------content----area--------*/

.content {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2%;
    min-height: 650px;
}

.content a {
    text-decoration: none;
}

/* --------overview-------- */

.back_logo img {
    width: 100px;
}

/* --------inventory-------- */
.table_area {
    background-color: white;
}

.filter {
    display: flex;
}

.filter p, .filter select {
    margin: 5px;
}
.filter select {
    padding: 0 5px 0 0;
    border: 1px solid gray;
}
.itable {
    border: 1px solid black;
    margin: 5px 5px;
}

.itable table {
    margin: auto;
    border: none
}

.itable th {
    background-color: #0088a9;
    padding: 5px;
    text-align: center;
}

.itable tr {
    background-color: antiquewhite;
}
.itable td {
    max-width: 160px;
    padding: 5px;
}
.itable th, .itable td {
    border-collapse: collapse;
}

/* --------task-------- */

#run {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#run button {
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    background-color: cornflowerblue;
}
#run input {
    font-size: 15px;
    width: 320px;
}

.run_container {
    width: 500px;
    min-height: 190px;
    margin: 10px;
    /* background-color: green; */
}

.run_info {
    /* width: 350px; */
    height: 140px;
    background-color: brown;
}
#run p {
    background-color: cornflowerblue;
    font-size: 20px;
}

/* --------popup----area-------- */
.coverup {
    position: absolute;
    left: 0px; 
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%; 
    min-height: 100%; 
    display: none;
} 

.popup {
    position: relative;
    color: white;
    background: rgba(25, 25, 100, 1);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin: 110px auto;
}

.popup input[type="text"] {
    position: relative;
    font-size: 20px;
    width: 80%;
    margin: 5px 10%;
}

.popup label {
    position: relative;
    margin-left: 10%;
}

.popup input[type="submit"] {
    position: absolute;
    color: white;
    background-color: rgba(25, 25, 100, 1);
    border: 1px solid white;
    right: 10%;
}

.popup .popup_header { 
    position: relative;
    margin: 3%;
    text-align: center;
    padding: 5%;
}

.popup .popup_cross {
    position: absolute;
    height: 20px;
    width: 20px;
    color: white; 
    border: none;
    right: 2px; 
    top: 2px; 
    background-color: rgba(25, 25, 100, 1);
    cursor: pointer;
}
.popup .popup_cross:hover {
    background-color: gray;
}