* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body {
    background-image: url('textflow.jpg');
    background-attachment: cover;
    min-width: 1280px;
}

select {
    width: 100px;
    text-overflow: ellipsis;
    background-color: rgba(110, 110, 240, 0.6);
    margin: 0 5px;
}

.hidden {
    display: none;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: black;
}

.even_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* --------header----area-------- */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 50px;
    background-color: rgba(51, 56, 51, 0.9);
    box-shadow: 3px 3px 3px black;
    z-index: 2;
}

header a,header button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header button:focus {
    outline: none;
}
.logo {
    font-weight: 700px;
    font-size: 20px;
    color: #edf0f1;
    cursor: pointer;
}

nav {
    width: 450px;
}
.nav_link {
    margin: 0;
    list-style: none;
    display: flex;
    height: 50px;
    width: 150px;
}

.nav_link button {
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.nav_link > div > li > a > button {
    background-color: rgba(0,0,0,0);
}

.nav_link > div > li:hover > a > button {
    background-color: rgba(0, 136, 169, 1);
}

.nav_link > div > li {
    width: 150px;
    text-align: center;
}

.nav_link li a {
    transition: all 0.3s ease 0%;
}

.nav_link li ul {
    margin-top: 5px;
}
.nav_link li ul li {
    margin-top: 5px;
    box-shadow: 3px 3px 3px gray;
    display: none;
}

.nav_link li:hover ul li {
    display: block;
}

.nav_link li ul li button {
    background-color: rgba(139, 126, 102, 1);
}
.nav_link li ul li button:hover {
    background-color: rgba(0, 139, 139, 1);
}

header > a > button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0%;
}

header > a > button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* --------content----area--------*/

.content {
    margin-top: 10px;
    padding: 0 2%;
    min-height: 650px;
}

.content a {
    text-decoration: none;
}

/* --------overview-------- */

.back_logo img {
    width: 100px;
}

/* --------inventory-------- */
.inv_back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inv_area {
    top: 10px;
    margin: 5px;
    background-color: rgba(61, 66, 61, 0.9);
    width: 1000px;
    height: 600px;
    box-shadow: 3px 3px 3px black;
    z-index: 1;
}

.inv_area a {
    margin: 5px;
}

.table_desc {
    min-width: 350px;
}

.table_lable {
    display: flex;
    align-items: center;
}

.table_lable p {
    color: white;
    padding: 5px;
    font-size: 50px;
}

/* -------- plus --------*/

.plus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    /* transition: all 0.3s ease; */
}
.plus::after{
    content: "";
    height: 10%;
    width: 100%;
    background: rgb(120, 120, 250);
    position: absolute;
    left: 0;
    top: 45%;
}
.plus::before{
    content: "";
    height: 100%;
    width: 10%;
    background: rgb(120, 120, 250);
    position: absolute;
    top: 0;
    left: 45%;
}
.plus:hover {
    background-color: rgb(240, 240, 240);
}
.plus:active {
    background-color: rgb(120, 120, 250);
}
.plus:hover::before {
    transform: scale(0.8);
}
.plus:active::before {
    background-color: rgb(240, 240, 240);
}
.plus:hover::after {
    transform: scale(0.8);
}
.plus:active::after {
    background-color: rgb(240, 240, 240);
}



/* -------- Scroller -------- */

#scroller {
    /* position: absolute; */
    margin-top: 20px;
    width: 300%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    transform: translateX(-66.66666666666667%);
    transition: all 0.3s ease;
    /* background-color: azure; */
}

#scroll_controller {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#scroll_controller button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 30px;
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    background-color: rgba(61, 66, 61, 0.9);
    color: rgb(200, 200, 200);
    box-shadow: 3px 3px 3px rgba(180, 180, 180, 0.6);
    transition: all 0.3s ease;
}

#scroll_controller button:focus {
    outline: none;
}

#scroll_controller button:hover {
    color: rgb(230, 230, 230);
    box-shadow: 4px 4px 4px rgba(210, 210, 210, 0.7);
}

#scroll_controller button:active {
    color: rgb(120, 120, 250);
    box-shadow: 4px 4px 4px rgba(110, 110, 240, 0.7);
}

.nav_button {
    position: fixed;
    top: 40%;
    width: 35px;
    border: none;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.9);
    box-shadow: 3px 3px 3px rgba(180, 180, 180, 0.6);
    overflow: hidden;
    transition: all 0.3s ease;
}

.nav_button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgba(240, 240, 240, 0.6);
}

.nav_button:active {
    background-color: rgb(120, 120, 250);
    box-shadow: 4px 4px 4px rgba(110, 110, 240, 0.6);
}

#nav_left {
    right: 90%;
}

#nav_right {
    left: 90%;
}

.scroll_up {
    background-color: rgba(200,200,200,0.9);
    border: none;
    width: 99%;
    display: none;
}
.scroll_up img {
    width: 40px;
    padding-top: 1px;
}

.scroll_down {
    background-color: rgba(200,200,200,0.9);
    border: none;
    width: 99%;
    display: none;
}

.scroll_down img {
    width: 40px;
    padding-top: 1px;
}

.table_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */
}

.float_table {
    top: 10px;
    margin: 5px;
    background-color: rgba(61, 66, 61, 0.9);
    width: 800px;
    height: 600px;
    box-shadow: 3px 3px 3px black;
    z-index: 1;
}

.table_outer {
    /* text-align: center; */
    position: relative;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 5px;
    /* background-color: aquamarine; */
}

.table_name {
    color: white;
    padding: 5px;
    margin: 0 5px;
    width: 300px;
    /* border: 1px solid black; */
    font-size: 45px;
    /* text-align: center; */
}

.filter {
    padding: 5px 0;
    color: white;
    /* background-color: brown; */
}

.table_inner {
    width: 100%;
    height: 435px;
    /* background-color: rgba(255, 235, 205, 0.8); */
}

.table_inner table {
    padding: 0;
    margin: 0;
    width: 100%;
    border-spacing: 5px;
    /* border-collapse: collapse; */
    border: none;
}

.table_inner th {
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: rgb(180, 180, 180);
    padding: 10px 8px;
    box-shadow: 3px 3px 3px rgb(180, 180, 180);
    /* margin: 3px; */
}

.table_inner td {
    padding: 8px;
    background-color: rgb(180, 180, 180);
    box-shadow: 3px 3px 3px rgb(180, 180, 180);
}

.table_inner input {
    padding: 3px;
}


/* --------task-------- */

.run {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 20px;
    margin: 0 auto;
}

.run_input {
    display: flex;
    justify-content: center;
    background-color: rgba(240,240,240,0.9);
}

.run_input button {
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(25, 25, 25);
    /* width: 150px; */
    background-color: rgb(200, 200, 200);
}
.run_input input {
    font-size: 15px;
    /* width: 320px; */
}

.run_container {
    margin: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

.run_info {
    width: 500px;
    height: 350px;
    padding-top: 5px;
    background-color: rgba(240,240,240,0.9);
    overflow: auto;
}
#target_host, #target_grp, #target_inv {
    width: 100%;
    min-height: 100px;
}

#target_host::before {
    content: 'Hosts: ';
    color: black;
    font-size: large;
}
#target_grp::before {
    content: 'Groups: ';
    color: black;
    font-size: large;
}
#target_inv::before {
    content: 'Inventory: ';
    color: black;
    font-size: large;
}

.display_span {
    background-color: burlywood;
    margin: 3px;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}
.task_block {
    margin: 0 1% 1% 1%;
    background-color: gray;
}
.task_mod::before {
    content: 'Module:';
    font-size: large;
    color: blueviolet;
}
.task_args::before {
    content: 'Args:';
    font-size: large;
    color: blueviolet;
}
.taskarg {
    display: flex;
    align-items: flex-start;
    
}
.pkey {
    background-color: cadetblue;
    padding: 3px;
    white-space: nowrap;
}
.pkey::before {
    content: '- ';
    font-size: large;
}
.pkey::after {
    content: ':';
}
.pval {
    color: brown;
    margin: 0 4px;
    padding: 4px 3px 3px 3px;
    background-color: chartreuse;
    word-break: break-all;
    word-wrap: break-word;
}
.run_container > p {
    background-color: rgba(51, 56, 51, 0.9);
    color: rgb(240,240,240);
    font-size: 20px;
    text-align: center;
}
#ansible_button {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 2px rgb(200, 200, 200);
    transition: all 0.3s ease;
}
#ansible_button:hover {
    transform: rotate(90deg);
    box-shadow: 0px 0px 20px 2px rgb(240, 240, 240);
}
#ansible_button:active {
    transform: scale(0.9) rotate(90deg);
    background-color: rgb(120, 120, 250);
    box-shadow: 0px 0px 25px 3px rgb(120, 120, 250);
}

/* --------popup----area-------- */

.coverup {
    position: absolute;
    left: 0px; 
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: none;
    z-index: 3;
}
.inv_cover {
    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_inv {
    position: relative;
    color: rgb(20, 20, 100);
    background-color: rgba(250, 250, 250, 0.9);
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}
.form_name {
    margin: 5px;
    width: 100%;
    /* text-align: center; */
    font-size: 40px;
}

.popup_inv hr {
    margin: 10px 0;
}
.popup_inv button {
    /* float: right; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.filter_inv {
    color: black;
    padding: 5px 0;
}

/* --------cross--------*/

.cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
}

.cross:hover {
    border: 1px dashed black;
}
.cross::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 10%;
    left: 45%;
    background-color: black;
    transform: rotate(45deg) scale(0.7);
}
.cross::after {
    position: absolute;
    content: "";
    height: 10%;
    width: 100%;
    top: 45%;
    background-color: black;
    transform: rotate(45deg) scale(0.7);
}

.input_container {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 3px;
    margin: 15px 0;
    /* background-color: maroon; */
}

.input_container p {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.input_container input {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    font-size: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.input_container input:focus {
    outline: none;
}

.add_result {
    margin-bottom: 10px;
    font-size: smaller;
}

.res_cover {
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: relative;
    width: 340px;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
}

#remove_text {
    color: rgb(10, 10, 10);
    font-size: 20px;
    margin: 20px 0;
}

#remove_text::before {
    content: 'Remove: ';
    padding-right: 6px;
    color: rgb(61, 66, 61);
}

#remove_info::after {
    content: 'Is this okay?';
    font-size: 20px;
    margin: 20px 0;
}

#remove_res {
    font-size: small;
    margin: 3px;
    padding: 3px;
}

#popup_remove button {
    margin: 20px;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}

#popup_remove hr {
    width: 100%;
}

.edit_cover {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_window {
    position: relative;
    padding: 3px;
    border-radius: 5px;
    width: 400px;
    min-height: 100px;
    background-color: rgba(250,250,250,0.9);
}

#edit_window p {
    color: rgb(20, 20, 100);
}

#edit_window button {
    margin: 20px;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}

#edit_prev {
    margin: 0 5px;
    position: relative;
    max-height: 600px;
    overflow: auto;
}

#edit_prev input {
    color: rgb(80,80,80);
}

#edit_prev p::before {
    content: '- ';
}

#edit_prev p::after {
    content: ':';
}