{% extends 'base.html' %}
    {% block content %}
    <div class="inv_area">
      <div class="table_area">
        <div class="table_opt">
          <p>Inventory:</p>
          <select class="inv_sel" id="inv_03" onchange="inv_change_3(inv_03.value)">
            <option value="default">default</option>
          </select>
          <a onclick="popup('add_group')"><button>Add Group</button></a><br>
        </div>
        
        <div class="itable">
          <table frame="box">
            <tr class="table_fields">
              <th>Group Name</th>
              <th>Creator</th>
              <th class="table_desc">Description</th>
              <th>Operation</th>
            </tr>
            {% for group in groupList %}
            <tr class="table_content" id={{ 'group_' + group[0] }}>
              <td><input name="Group" type="checkbox" > <a href="#">{{group[0]}}</a></td>
              <td>{{group[1]}}</td>
              <td>{{group[2]}}</td>
              <td>
                <a href="#">Edit</a>
                <a href="#">Remove</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="coverup" id='add_group'>
      <div class="popup">
        <div class="popup_header">
          <span>Add new group</span> 
          <input type="button" class="popup_cross" value="X" onclick="hidder('add_group')"> 
        </div> 
        <div id="form_group">
          <form method="POST">
            <p>Inventory:</p>
            <select class="inv_sel" name="inv">
              <option value="default">default</option>
            </select>
            <label for="group_name">Group Name:</label><br>
            <input type="text" name="group_name" id="group_name"  ><br>
            <label for="group_creator">Creator:</label><br>
            <input type="text" name="group_creator" id="group_creator"  ><br>
            <label for="group_desc">Description:</label><br>
            <input type="text" name="group_desc" id="group_desc"  ><br>
            <label for="group_attr">Attributes:</label><br>
            <input type="text" name="group_attr" id="group_attr"  ><br>
            <input type="submit" value="confirm" ><br>
          </form>
        </div>
      </div> 
    </div>
    <script type="text/javascript">
      window.onload = function(){
        getData('/data/all_inv', add_inv);
      }
  </script>  
{% endblock %}
