{% extends 'base.html' %}
{% block content %}
<div class="trans_back">
    <div class="inv_area">
        <div class="table_outer">
            <div class="table_header">
                <div class="table_lable">
                    <div class="plus" onclick=popup('add_group') title="Click to add group"></div>
                    <p>Groups</p>
                </div>
                <div class="filter">
                    <span>Inventory:</span>
                    <select class="inv_sel" id="inv_03" onchange="inv_change_3(inv_03.value, 'table_grp')">
                        <option value="default">default</option>
                    </select>
                </div>
            </div>
            <div class="table_inner">
                <table frame="box" id="table_grp">
                    <tr class="table_fields">
                        <th>Group Name</th>
                        <th>Creator</th>
                        <th class="table_desc">Description</th>
                        <th>Operation</th>
                    </tr>
                    {% for group in groupList %}
                    <tr class="table_content" >
                        <td><input type="checkbox" id={{ 'g_' + group[0] + '____' + group[1] }}><a href="javascript:void(0)">{{group[1]}}</a></td>
                        <td>{{group[2]}}</td>
                        <td>{{group[3]}}</td>
                        <td><a href="javascript:void(0)" onclick="edit_row(event)">Edit</a><a href="javascript:void(0)" onclick="remove_row(event)">Remove</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="back_cover" id='add_group'>
    <div class="front_cover">
        <div class="popup_inv">
            <div class="cross" onclick="clearAndHide('add_group')"></div>
            <p class="form_name">Add Group</p>
            <hr>
            <div id="form_group" class="form_content">
                <div class="filter_inv">
                    <span>Inventory:</span>
                    <select class="inv_sel" id="inv_07">
                        <option value="default">default</option>
                    </select>
                </div>
                <hr>
                <div class="input_container">
                    <p>*Group Name:</p>
                    <input type="text" id="group_name" autocomplete="off" >
                </div>
                <div class="input_container">
                    <p>Creator:</p>
                    <input type="text" id="group_creator" autocomplete="off" >
                </div>
                <div class="input_container">
                    <p>Description:</p>
                    <input type="text" id="group_desc" autocomplete="off" >
                </div>
                <p class="add_result"></p>
                <div class="flex_container">
                    <button onclick="submit_group()">Confirm</button>
                </div>
            </div>
        </div> 
    </div>
</div>
<div class="back_cover" id="popup_remove">
    <div class="front_cover">
        <div class="dialog">
            <div class="cross" onclick="hidder('popup_remove')"></div>
            <div class="vertical_container" id="remove_info">
                <p id="remove_text"></p>
            </div>
            <p id="remove_res"></p>
            <div class="seperator"></div>
            <div class="even_container">
                <button onclick="remove_confirm()">confirm</button>
                <button onclick="hidder('popup_remove')">cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="back_cover" id="popup_edit">
    <div class="front_cover">
        <div id="edit_window">
            <p class="form_name">Edit Group</p>
            <div class="seperator"></div>
            <div class="cross" onclick="hidder('popup_edit')"></div>
            <div id="edit_prev"></div>
            <p id="update_info"></p>
            <div class="flex_container">
                <button onclick="edit_update()">Update</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){
        getData('/data/all_inv', add_inv);
    }

    function submit_group() {
        data = {}
        data['inv'] = document.getElementById('inv_07').value;
        id_list = ['group_name', 'group_creator', 'group_desc']
        for (var i in id_list) {
            var val = document.getElementById(id_list[i]).value;
            data[id_list[i]] = val;
        }
        if (data['group_name'] == '') {
            document.getElementsByClassName('add_result')[0].innerText = "Fields with * are required"
        }
        else {
            postData(data, '/inventory/groups', show_res)
        }
    }

</script>  
{% endblock %}
