{% extends 'base.html' %}

{% block content %}
<div class="inv_area">
    <div class="table_area">
        <div class="table_opt">
            <p>Inventory:</p>
            <select class="inv_sel" id="inv_01" onchange="inv_change_1(inv_01.value, 'grp_01', 4)">
                <option value="default">default</option>
            </select>
            <p>Group:</p>
            <select class="grp_sel" id="grp_01" onchange="grp_change(inv_01.value, grp_01.value)">
                <option value="all" >ALL</option>
                <option value="none" >NONE</option>
            </select>
            <a onclick="popup('add_host')"><button>Add Host</button></a><br>
        </div>
        
        <div class="itable">
            <table frame="box">
                <tr class="table_fields">
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>Operating System</th>
                    <th class="table_desc">Description</th>
                    <th>Operation</th>
                </tr>
                {% for host in hostList %}
                <tr class="table_content" id={{ 'host_' + host[0] }}>
                    <td><input type="checkbox" ><a href="javascript:void(0)">{{host[0]}}</a></td>
                    <td>{{host[1]}}</td>
                    <td>{{host[2]}}</td>
                    <td>{{host[3]}}</td>
                    <td><a href="javascript:void(0)">Edit</a><a href="javascript:void(0)">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="coverup" id='add_host'>
    <div class="popup">
        <div class="popup_header">
            <span>Add new host</span>
            <input type="button" class="popup_cross" value="X" onclick="hidder('add_host')">
        </div>
        <div id="form_host">
            <form method="POST">
                <p>Inventory:</p>
                <select class="inv_sel" id="inv_02" name="inv" onchange="inv_change_2(inv_02.value, 'grp_02', 2)">
                    <option value="default">default</option>
                </select>
                <p>Group</p>
                <select class="grp_sel" id="grp_02" name="group">
                    <option value="none">NONE</option>
                </select>
                <label for="host_name">Hostname:</label><br>
                <input type="text" name="host_name" id="host_name"><br>
                <label for="host_ip">IP Address:</label><br>
                <input type="text" name="host_ip" id="host_ip"><br>
                
                <label for="host_os">Operating System:</label><br>
                <input type="text" name="host_os" id="host_os"><br>
                <label for="host_desc">Description:</label><br>
                <input type="text" name="host_desc" id="host_desc"><br>
                <label for="host_attr">Attributes:</label><br>
                <input type="text" name="host_attr" id="host_attr"><br>
                <input type="submit"  id="submit_host" value="confirm" ><br>
            </form>
        </div>
    </div> 
</div>
<script type="text/javascript">
    window.onload = function(){
        getData('/data/all_inv', add_inv);
        getData('/data/grps_of_inv/name/default', add_grp);
    }
</script>           
{% endblock %}