{% extends 'base.html' %}
{% block content %}
<div class="inv_back">
    <div class="inv_area">
        <div class="table_outer">
            <div class="table_header">
                <p class="table_name">Inventorys</p>
                <div class="filter">
                    <a onclick="popup('add_inventory')"><button>Add Inventory</button></a><br>
                </div>
            </div>
            <div class="table_inner">
                <table frame="box" id="table_inv">
                    <tr class="table_fields">
                        <th>Inventory Name</th>
                        <th>Creator</th>
                        <th class="table_desc">Description</th>
                        <th>Operation</th>
                    </tr>
                    {% for inv in invList %}
                    <tr class="table_content" id={{ 'i____' + inv[0] }}>            
                        <td><input name="inv" type="checkbox" > <a href="javascript:void(0)">{{inv[0]}}</a></td>
                        <td>{{inv[1]}}</td>
                        <td>{{inv[2]}}</td>
                        <td><a href="javascript:void(0)">Edit</a><a href="javascript:void(0)">Remove</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="coverup" id='add_inventory'>
    <div class="popup">
        <div class="popup_header">
            <span>Add new inventory</span> 
            <input type="button" class="popup_cross" value="X" onclick="hidder('add_inventory')"> 
        </div> 
        <div id="form_inventory">
            <form method="POST">
                <label for="inv_name">Inventory Name:</label><br>
                <input type="text" name="inv_name" id="inv_name"><br>
                <label for="inv_creator">Creator:</label><br>
                <input type="text" name="inv_creator" id="inv_creator"  ><br>
                <label for="inv_desc">Description:</label><br>
                <input type="text" name="inv_desc" id="inv_desc"><br>
                <label for="inv_attr">Attributes:</label><br>
                <input type="text" name="inv_attr" id="inv_attr"><br>
                <input type="submit"  id="submit_inventory" value="confirm" ><br>
            </form>
        </div>
    </div> 
</div>
{% endblock %}
{% block right_block %}

{% endblock %}